name: windows

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
  workflow_dispatch:

jobs:
  windows:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          arch: win64_mingw
          version: '6.5.3'
          modules: 'qt5compat'
          aqtversion: ==3.1.7

      - name: Build all
        run: |
          qmake -spec win32-g++
          mingw32-make -j8

      - name: Upload build asserts
        uses: actions/upload-artifact@v3
        with:
          path: |
            ./release/helloworld.dll
